workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "lead-capture",
        "options": {}
      },
      "id": "de9ba8dc-51b9-44d7-9fdd-dc6ff7c7d532",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        112
      ],
      "webhookId": "a4c132cf-01fa-4cc5-981f-45deb4404b96"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$json.body.email}}"
            },
            {
              "name": "name",
              "value": "={{$json.body.name}}"
            },
            {
              "name": "phone",
              "value": "={{$json.body.phone}}"
            },
            {
              "name": "company",
              "value": "={{$json.body.company}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c9990cf-5d94-4ff9-b0c3-bd69fdef25bf",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const fullName = $json.name || \"\";\nconst parts = fullName.split(\" \");\nreturn [{\n  ...$json,\n  firstName: parts.slice(0, -1).join(\" \") || \"\",\n  lastName: parts.slice(-1).join(\" \") || \"Unknown\"\n}];"
      },
      "id": "1c149fbc-c339-4960-a31c-c8d1d4099d9d",
      "name": "Split Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "id": "07465b9d-3d40-43df-aad0-a40e5929b01e",
      "name": "Search Lead",
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "zohoOAuth2Api": {
          "id": "TsATY5UL7WKTFdp5",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.length > 0}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "becfb74a-445d-4097-b4b6-a31266ac9974",
      "name": "Lead Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{$json.id}}",
        "updateFields": {
          "Email": "={{ $json.Email }}",
          "Full_Name": ""
        }
      },
      "id": "af1f6715-375c-404c-99cd-3b46ac6cbbac",
      "name": "Update Lead",
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "zohoOAuth2Api": {
          "id": "nlSKDHzSOifDZlVP",
          "name": "Zoho account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "Company": "={{$json.company}}",
        "lastName": "={{$json.name}}",
        "additionalFields": {}
      },
      "id": "c3f5a23f-5b23-482d-aff4-bc32f894c7bb",
      "name": "Create Lead",
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "credentials": {
        "zohoOAuth2Api": {
          "id": "nlSKDHzSOifDZlVP",
          "name": "Zoho account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Split Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Name": {
      "main": [
        [
          {
            "node": "Search Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead": {
      "main": [
        [
          {
            "node": "Lead Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Exists?": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1e7c30ae963eb819db382124d0e777613e04d89c2a5fffcbc8adef85f13d1ae"
  }
}